/* ================FONT================= */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/* ================CODE================= */
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body {
    font-family: 'Spartan', sans-serif;
    background-image: url(images/bg-pattern-top-mobile.svg),url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat,no-repeat;
}

main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
article {
    text-align: center;
}

article p {
    color: 	hsl(304, 7%, 61%);
    width: 90vw;
    font-size: 1.1rem;
}

h1 {
    line-height: 1;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2rem;
    padding: 80px 32px 36px;
    margin: 0;
}

.h2-header {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.card-header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
}

header{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding-left: 15px;
    text-align: left;
}

img{
    display: flex;
    border-radius: 50%;
    width: 50px;
}

.p-header {
    color: hsl(333, 80%, 67%);
    margin: 0;
}

.stars {
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    width: 325px;
    text-align: center;
}

.checked{
    color: 	hsl(28, 83%, 60%);
}

.container-star {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 15px;
    margin-top: 72px;
    margin-bottom: 65px;
}

.container-star p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 18px;
}

.card {
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding: 20px;
    width: 325px;
    height: 245px;
    line-height: 1.5;
    color: hsl(0, 0%, 100%);
}

.card-content p{
    font-size: 14px;
    font-weight: 500;
}

.card-container{
    margin-bottom: 50px;
}

@media (max-width:500px) {
    .stars {
        background-color: hsl(300, 24%, 96%);
        border-radius: 10px;
        padding: 15px 20px;
        width: 320px;
        text-align: center;
    }
    
    .card {
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        padding: 20px;
        width: 320px;
        color: hsl(0, 0%, 100%);
    }
}
@media (min-width:800px){
    body{
        background-image: url(images/bg-pattern-top-desktop.svg),url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat,no-repeat;
    }
    main{
        width: 1020px;
        margin: 0 auto;
        padding-top: 120px;
    }
    .arriba{
        display: flex;
        justify-content: space-between;
    }
    
    .arti{
        width: 500px;
        text-align: left;
    }
    
    h1{
        padding: 0;
        font-size: 45px;
    }
    
    article p{
        padding-left: 0;
        padding-right: 50px;
        font-size: 14px;
        width: 500px;
        line-height: 1.5;
        margin-top: 20px;

    }
    
    .container-star{
        margin-top: 0;
        margin-bottom: 0;
    }

    .stars{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0;
        width: 446px;
    }
    
    .checked{
        padding: 5px;
    }
    
    .stars p{
        padding-left: 20px;
        margin: 0;
    }
    .star-1{
        margin-right: 0;
    }
    .star-2{
        margin-right: 0;
    }
    
    .star-3{
        margin-right: 0;
    }
  
    .card-container{
        margin-top: 50px;
        line-height:1.5;
        display: flex;
        flex-direction: row;
        column-gap: 30px;

    }
    
    .card{
        padding:30px;
        width: 320px;
        height: 208px;
    }
    
    .card-2{
        margin-top: 20px;
    }
    
    .card-3{
        margin-top: 40px;
    }
      
    .h2-header {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }
    
    .p-header {
        font-size: 14px;
        color: hsl(333, 80%, 67%);
        margin: 0;
    }

    .card-content p{
        font-size: 12px;
        font-weight: 500;
    }

    .card-header{
        display: flex;
        padding-bottom: 10px;
    }   
}
